<ion-header>
  <ion-toolbar>
    <ion-title>Settings for Mobile App</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header class="header"> User Sign Up </ion-list-header>
    <ion-item>
      <ion-label> Security Questions </ion-label>
    </ion-item>
    <ion-list-header class="header"> Chat Room </ion-list-header>
    <ion-item>
      <ion-label> Hours for Messages to Last </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
