<ion-header>
  <ion-toolbar>
    <ion-title>Settings for Mobile App</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header class="header"> User Sign Up </ion-list-header>
    <ion-item>
      <ion-label> Security Questions </ion-label>
    </ion-item>
      <ion-item>
        <ion-label position="stacked">Question 1: </ion-label>
        <ion-text> {{ securityQ1 }}</ion-text>
        <ion-button slot="end" (click)="updateSecurityQuestion('q1')"> Update </ion-button>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Question 2: </ion-label>
        <ion-text> {{ securityQ2 }}</ion-text>
        <ion-button slot="end" (click)="updateSecurityQuestion('q2')"> Update </ion-button>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Question 3: </ion-label>
        <ion-text> {{ securityQ3 }}</ion-text>
        <ion-button slot="end" (click)="updateSecurityQuestion('q3')"> Update </ion-button>
      </ion-item>

    <ion-list-header class="header"> Chat Room </ion-list-header>
    <ion-item>
      <ion-label> Hours for Messages to Last </ion-label>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"> Delete After: </ion-label>
      <ion-text> {{ chatHoursToLive }}</ion-text>
      <ion-button slot="end" (click)="updateChatHoursToLive()"> Update </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
