<ion-header>
  <ion-toolbar>
    <ion-title>
      Inbox
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-row>
  <ion-col>
    <ion-button class="fill-button" [class.noHighlight]="problemsView != true" expand="block" size="large" (click)="problemsView = true; locationView = false; reportView = false;"> User Reports</ion-button>
  </ion-col>
  <ion-col>
    <ion-button class="fill-button" [class.noHighlight]="reportView != true" expand="block" size="large" (click)="problemsView = false; locationView = false; reportView = true;"> Provider Reports </ion-button>
  </ion-col>
  <ion-col>
    <ion-button class="fill-button" [class.noHighlight]="locationView != true" expand="block" size="large" (click)="problemsView = false; locationView = true; reportView = false;"> Location Suggestions </ion-button>
  </ion-col>
</ion-row>

<ion-content>
  <div *ngIf="problemsView">
  <ion-item class="subheader">
  <ion-label class="label"> User Reported Problems</ion-label>
  </ion-item>
  <ion-list>
    <ion-item button [routerLink]="['/inbox/submission/', report.id]" *ngFor="let report of (reports | async)"
              (click)="updateToViewed(report.id, 'uReport')">
      <div *ngIf="!report.viewed">
          <ion-icon name="square"></ion-icon>
      </div>
      {{ report.title }}
      <ion-text slot="end" class="timestamp">
        {{ report.timestamp.toDate() | date:'MM-dd-yyyy h:mm:ss.SS a' }}
      </ion-text>
      <ion-icon name="arrow-forward" slot="end"></ion-icon>
    </ion-item>
  </ion-list>
  </div>

  <div *ngIf="reportView">
    <ion-item class="subheader">
      <ion-label class="label"> Provider Reported Posts/Comments</ion-label>
    </ion-item>
    <ion-list>
      <ion-item button [routerLink]="['/inbox/provider-report/', report.id]" *ngFor="let report of (providerReports | async)"
                (click)="updateToViewed(report.id, 'pReport')">
        <div *ngIf="!report.viewed">
          <ion-icon name="square"></ion-icon>
        </div>
        A {{ report.type }} has been reported.
        <ion-text slot="end" class="timestamp">
          {{ report.timestamp.toDate() | date:'MM-dd-yyyy h:mm:ss.SS a' }}
        </ion-text>
        <ion-icon name="arrow-forward" slot="end"></ion-icon>
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="locationView">
    <ion-item class="subheader">
      <ion-label class="label"> User Location Suggestions</ion-label>
    </ion-item>
    <ion-list>
    <ion-item button [routerLink]="['/inbox/suggestion/', suggestion.id]" *ngFor="let suggestion of (locationSuggestions | async)"
    (click)="updateToViewed(suggestion.id, 'suggestion')">
      <div *ngIf="!suggestion.viewed">
        <ion-icon name="square"></ion-icon>
      </div>
      {{suggestion.type}} : {{ suggestion.name }}
      <ion-text slot="end" class="timestamp">
        {{ suggestion.timestamp.toDate() | date:'MM-dd-yyyy h:mm:ss.SS a' }}
      </ion-text>
      <ion-icon name="arrow-forward" slot="end"></ion-icon>
    </ion-item>
    </ion-list>
  </div>
</ion-content>
