.label {
  font-size: 16px;
  color: #505050;
  font-weight: bold;
}

.subheader {
  --background: #f5f6f9;
}


.noHighlight {
  --background: var(--secondary-color);
}

.new {
  color: var(--main-color);
  font-size: 12px;
}

.timestamp {
  color: gray;
  font-size: 12px;
}

ion-icon {
  color: var(--main-color);
}
