<ion-header>
  <ion-toolbar>
    <ion-title>
      Inbox
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item class="subheader">
  <ion-label class="label"> User Reported Problems</ion-label>
  </ion-item>
  <ion-list>
    <ion-item button [routerLink]="['/inbox/submission/', submission.id]" *ngFor="let submission of (submissions | async)">
      {{submission.type}} : {{ submission.title }}
      <ion-icon name="arrow-forward" slot="end"></ion-icon>
    </ion-item>

    <ion-item class="subheader">
      <ion-label class="label"> User Location Suggestions</ion-label>
    </ion-item>
    <ion-item button [routerLink]="['/inbox/suggestion/', suggestion.id]" *ngFor="let suggestion of (locationSuggestions | async)">
      {{suggestion.type}} : {{ suggestion.name }}
      <ion-icon name="arrow-forward" slot="end"></ion-icon>
    </ion-item>

  </ion-list>
</ion-content>
