<ion-header>
  <ion-toolbar>
    <ion-title>Module Quiz Question</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item-divider color="medium">
    <ion-label>
      Question Information
    </ion-label>
  </ion-item-divider>

  <ion-item>
    <ion-label position="stacked">Quiz Question</ion-label>
    <ion-textarea [(ngModel)]="modalQuizQuestion.questionText" rows="2"></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Points Worth</ion-label>
    <ion-input [(ngModel)]="modalQuizQuestion.pointsWorth"></ion-input>
  </ion-item>

  <ion-item-divider color="medium">
    <ion-label>
      Answer Choices (Select Correct Answer)
    </ion-label>
  </ion-item-divider>
  
  <ion-grid>

    <ion-radio-group [(ngModel)]="modalQuizQuestion.correctAnswer">

    <ion-row>
      <ion-col size="1">
        <ion-radio value="choice1"></ion-radio>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">A</ion-label>
          <ion-textarea [(ngModel)]="modalQuizQuestion.choice1"></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="1">
        <ion-radio value="choice2"></ion-radio>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">B</ion-label>
          <ion-textarea [(ngModel)]="modalQuizQuestion.choice2"></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="1">
        <ion-radio value="choice3"></ion-radio>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">C</ion-label>
          <ion-textarea [(ngModel)]="modalQuizQuestion.choice3"></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="1">
        <ion-radio value="choice4"></ion-radio>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">D</ion-label>
          <ion-textarea [(ngModel)]="modalQuizQuestion.choice4"></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>
  
  </ion-radio-group>

  </ion-grid>

  <ion-row>
    <ion-col text-center>
      <ion-button fill="outline" color="danger" (click)="deleteQuestionConfirmation()">Delete</ion-button>
      <ion-button class="fill-button" (click)="dismiss()">Save</ion-button>
    </ion-col>
  </ion-row>

</ion-content>
