<ion-header>
  <ion-toolbar>
    <ion-title>Module Quiz Question</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item-divider color="medium">
    <ion-label>
      Question Information
    </ion-label>
  </ion-item-divider>

  <ion-item>
    <ion-label position="stacked">Quiz Question</ion-label>
    <ion-textarea [(ngModel)]="modalQuizQuestion.questionText" rows="2" autoGrow="true"></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Points Worth</ion-label>
    <ion-input [(ngModel)]="modalQuizQuestion.pointsWorth"></ion-input>
  </ion-item>

  <ion-item-divider color="medium">
    <ion-label>
      Answer Choices
    </ion-label>
  </ion-item-divider>

  <ion-item>
    <ion-label position="stacked">A</ion-label>
    <ion-textarea [(ngModel)]="modalQuizQuestion.choice1"></ion-textarea>
  </ion-item>
  
  <ion-item>
    <ion-label position="stacked">B</ion-label>
    <ion-textarea [(ngModel)]="modalQuizQuestion.choice2"></ion-textarea>
  </ion-item>
  
  <ion-item>
    <ion-label position="stacked">C</ion-label>
    <ion-textarea [(ngModel)]="modalQuizQuestion.choice3"></ion-textarea>
  </ion-item>
  
  <ion-item>
    <ion-label position="stacked">D</ion-label>
    <ion-textarea [(ngModel)]="modalQuizQuestion.choice4"></ion-textarea>
  </ion-item>
  
  <ion-item>
    <ion-label position="stacked">Correct Answer</ion-label>
    <ion-select [(ngModel)]="modalQuizQuestion.correctAnswer" multiple="false" cancelText="Cancel" okText="Ok">
      <ion-select-option value="choice1">
        A
      </ion-select-option>
      <ion-select-option value="choice2">
        B
      </ion-select-option>
      <ion-select-option value="choice3">
        C
      </ion-select-option>
      <ion-select-option value="choice4">
        D
      </ion-select-option>
    </ion-select>
  </ion-item>
  
  <ion-row>
    <ion-col text-center>
      <ion-button fill="outline" color="danger" (click)="deleteQuestionConfirmation()">Delete</ion-button>
      <ion-button class="fill-button" (click)="dismiss()">Save</ion-button>
    </ion-col>
  </ion-row>

</ion-content>
