<ion-header>
  <ion-toolbar>
    <ion-title>iMATter</ion-title>
      <ion-button class="text-button" slot="end" expand="block" fill="clear" routerLink="/code">
        Create new account
      </ion-button>
  </ion-toolbar>
</ion-header>

<ion-text padding=".01">
  <h4>
    Welcome to iMATter.
  </h4>
</ion-text>


<ion-content>
  <form [formGroup]="loginForm">
    <ion-row>
      <ion-col>
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input formControlName="email" type="email" placeholder="Email"
                   [class.invalid]="!loginForm.controls['email'].valid && loginForm.controls['email'].touched">
        </ion-input>
      </ion-item>
      <ion-item
              class="error-message"
              *ngIf="!loginForm.controls['email'].valid && loginForm.controls['email'].touched">
        <ion-label>Please enter a valid email address.</ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input formControlName="password" type="password" placeholder="Password"
                [class.invalid]="!loginForm.controls['password'].valid && loginForm.controls['password'].touched">
        </ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="!loginForm.controls['password'].valid && loginForm.controls['password'].touched">
        <ion-label>Please enter password.</ion-label>
      </ion-item>
      </ion-col>
    </ion-row>

    <ion-button class="fill-button" (click)="validateUser(loginForm)" expand="block" [disabled]="!loginForm.valid">
      Log In
    </ion-button>
  </form>

  <ion-button class="text-button" expand="block" fill="clear" routerLink="/reset-password">
    Forgot password?
  </ion-button>

</ion-content>

<ion-footer>
  <ion-item class="ion-text-right">
    <ion-label id="modeToggle" color="secondary">Dark Mode</ion-label>
    <ion-toggle (ionChange)="toggleDarkTheme()"></ion-toggle>
  </ion-item>
</ion-footer>
