<ion-header>
  <ion-toolbar>

    <ion-title>Signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-text padding=".01" color="dark">
  <h3>
    Welcome to iMATter!
  </h3>
  <p class="content">
    Hello, welcome to iMATter! In order to get started, we need some information to complete the sign up process. Please fill out
    the form below to begin using iMATter.
  </p>
</ion-text>

<!-- If user is admin type-->
<ion-content *ngIf="typeAdmin; else elseBlock">
  <p padding-horizontal> You are creating an account as a, <b> administrator. </b><br> </p>
  <p padding-horizontal> Your email was already entered by an administrator. The email is: <b> {{admin.email}} </b> </p>
  <form [formGroup]="signupAdminForm">
    <ion-item>
      <ion-label position="stacked">Username</ion-label>
      <ion-input formControlName="username" type="email" placeholder="Your Username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input formControlName="password" type="password" placeholder="Your password"
              [class.invalid]="!signupAdminForm.controls['password'].valid && signupAdminForm.controls['password'].touched">
      </ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupAdminForm.controls['password'].valid  && signupAdminForm.controls['password'].touched">
      <ion-label>Your password needs more than 6 characters.</ion-label>
    </ion-item>

    <ion-button class="fill-button" expand="block" (click)="signupAdmin(signupAdminForm)" [disabled]="!signupAdminForm.valid">
      Create Account
    </ion-button>
  </form>
</ion-content>

<!-- If user is provider type-->
<ion-content>
<ng-template #elseBlock>
  <p padding-horizontal> You are creating an account as a <b> provider. </b><br> </p>
  <p padding-horizontal> Your email was already entered by an administrator. The email is: <b> {{provider.email}} </b> </p>
  <form [formGroup]="signupProviderForm">
    <ion-item>
      <ion-label position="stacked">Username</ion-label>
      <ion-input formControlName="username" type="email" placeholder="Your Username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input formControlName="password" type="password" placeholder="Your password"
                 [class.invalid]="!signupProviderForm.controls['password'].valid && signupProviderForm.controls['password'].touched">
      </ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupProviderForm.controls['password'].valid  && signupProviderForm.controls['password'].touched">
      <ion-label>Your password needs more than 6 characters.</ion-label>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Short Bio (Other Users Can See This)</ion-label>
      <ion-input formControlName="bio" placeholder="Say Something About Yourself ">
      </ion-input>
    </ion-item>

    <ion-button class="fill-button" expand="block" (click)="signupProvider(signupProviderForm)" [disabled]="!signupProviderForm.valid">
      Create Account
    </ion-button>
  </form>

</ng-template>
</ion-content>
