<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/survey-list"></ion-back-button>
    </ion-buttons>
    <ion-title>Survey Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="stacked">Survey Name</ion-label>
    <ion-input [(ngModel)]="survey.title"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked> Start Time </ion-label>
    <ion-datetime
            displayFormat="YYYY-MMM-DDhh:mma"
            [(ngModel)]='survey.startTime'>
    </ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label stacked> End Time </ion-label>
    <ion-datetime
            displayFormat="YYYY-MMM-DDhh:mma"
            [(ngModel)]='survey.endTime'>
    </ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label floating>URL</ion-label>
    <ion-input type="url" [(ngModel)]="survey.surveyLink"></ion-input>
  </ion-item>

  <div *ngIf="!survey.id">
    <ion-button (click)="addSurvey()">Save</ion-button>
  </div>

</ion-content>

<ion-footer *ngIf="survey.id">
  <ion-row no-padding text-center>

    <ion-col size="6">
      <ion-button expand="block" fill="outline" color="danger" (click)="deleteSurvey()">
        <ion-icon name="trash"></ion-icon>
        Delete
      </ion-button>
    </ion-col>

    <ion-col size="6">
      <ion-button expand="block" fill="solid" color="success" (click)="updateSurvey()">
        <ion-icon name="save" slot="start"></ion-icon>
        Update
      </ion-button>
    </ion-col>

  </ion-row>

</ion-footer>
