<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/survey-list"></ion-back-button>
    </ion-buttons>
    <ion-title>Survey Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item *ngIf="survey.id" color="light">
    <ion-text>Survey Type: {{ survey.type }}</ion-text>
  </ion-item>

  <div *ngIf="!survey.id">

    <ion-list>
      <ion-item color="light">
        <ion-label>Survey Type</ion-label>
        <ion-select [(ngModel)]="survey.type" (ionChange)="chosenType()" placeholder="Select One">
          <ion-select-option  value="After Joining">After User Joining</ion-select-option>
          <ion-select-option  value="Due Date">Before Due Date</ion-select-option>
          <ion-select-option  value="Inactive">Inactive User</ion-select-option>
          <ion-select-option  value="Emotion">Particular Mood</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

  </div>

  <ion-item>
    <ion-label position="stacked">Survey Name</ion-label>
    <ion-input [(ngModel)]="survey.title"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Survey Description</ion-label>
    <ion-input type="string" [(ngModel)]="survey.surveyDescription"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Survey URL</ion-label>
    <ion-input type="url" [(ngModel)]="survey.surveyLink"></ion-input>
  </ion-item>

  <div *ngIf="isAfterJoining">
    
    <ion-item>
      <ion-label position="stacked">Days After Joining Survey is Released (comma separated list)</ion-label>
      <ion-input type="string" [(ngModel)]="survey.daysTillRelease"></ion-input>
    </ion-item>

  </div>

  <div *ngIf="isDueDate">
    
    <ion-item>
      <ion-label position="stacked">Days Before Due Date Survey is Released (comma separated list)</ion-label>
      <ion-input type="string" [(ngModel)]="survey.daysBeforeDueDate"></ion-input>
    </ion-item>

  </div>

  <div *ngIf="isInactive">
    
    <ion-item>
      <ion-label position="stacked">Display on Number of Days Inactive</ion-label>
      <ion-input type="number" [(ngModel)]="survey.daysInactive"></ion-input>
    </ion-item>

  </div>

  <div *ngIf="isEmotion">

    <ion-item>
      <ion-text>Release if user's mood is:</ion-text>
    </ion-item>

    <ion-radio-group
    allow-empty-selection = "true"
    [(ngModel)]="survey.emotionChosen">

    <ion-item>
      <ion-label>Excited</ion-label>
      <ion-radio slot="start" value="excited"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Happy</ion-label>
      <ion-radio slot="start" value="happy"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Loved</ion-label>
      <ion-radio slot="start" value="loved"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Indifferent</ion-label>
      <ion-radio slot="start" value="indifferent"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Overwhelmed</ion-label>
      <ion-radio slot="start" value="overwhelmed"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Sad</ion-label>
      <ion-radio slot="start" value="sad"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Angry</ion-label>
      <ion-radio slot="start" value="angry"></ion-radio>
    </ion-item>

  </ion-radio-group>

  </div>

  <div>
    <ion-item *ngIf="!isEmotion && !isInactive">
      <ion-label position="stacked">Days Visible Before Expiration</ion-label>
      <ion-input type="number" [(ngModel)]="survey.daysTillExpire"></ion-input>
    </ion-item>
  </div>

  <ion-item>
    <ion-label position="stacked">Survey Reward Points</ion-label>
    <ion-input type="number" [(ngModel)]="survey.pointsWorth"></ion-input>
  </ion-item>

  <div *ngIf="!survey.id">
    <ion-button class="fill-button" (click)="addSurvey()">Add Survey</ion-button>
  </div>

</ion-content>

<ion-footer *ngIf="survey.id">
  <ion-row no-padding text-center>

    <ion-col size="6">
      <ion-button expand="block" fill="outline" color="danger" (click)="deleteSurvey()">
        <ion-icon name="trash"></ion-icon>
        Delete
      </ion-button>
    </ion-col>

    <ion-col size="6">
      <ion-button expand="block" fill="solid" color="success" (click)="updateSurvey()">
        <ion-icon name="save" slot="start"></ion-icon>
        Update
      </ion-button>
    </ion-col>

  </ion-row>

</ion-footer>
