<ion-header>
  <ion-toolbar>
    <ion-title>Add Quiz Question</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="stacked">Question Text</ion-label>
    <ion-input [(ngModel)]="quizQuestion.questionText"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Choice A</ion-label>
    <ion-input [(ngModel)]="quizQuestion.choice1"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="stacked">Choice B</ion-label>
    <ion-input [(ngModel)]="quizQuestion.choice2"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="stacked">Choice C</ion-label>
    <ion-input [(ngModel)]="quizQuestion.choice3"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="stacked">Choice D</ion-label>
    <ion-input [(ngModel)]="quizQuestion.choice4"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Correct Answer</ion-label>
    <ion-select [(ngModel)]="quizQuestion.correctAnswer" multiple="false" cancelText="Cancel" okText="Ok">
      <ion-select-option value="choice1">
        A
      </ion-select-option>
      <ion-select-option value="choice2">
        B
      </ion-select-option>
      <ion-select-option value="choice3">
        C
      </ion-select-option>
      <ion-select-option value="choice4">
        D
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Number of Points Question is Worth</ion-label>
    <ion-input [(ngModel)]="quizQuestion.pointsWorth"></ion-input>
  </ion-item>

  <ion-row>
    <ion-col text-center>
      <ion-button (click)="dismiss()">Cancel</ion-button>
      <ion-button (click)="closeModal()">Save Question</ion-button>
    </ion-col>
  </ion-row>

</ion-content>
