<ion-header>
  <ion-toolbar>
    <ion-title>Add Quiz Question</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-divider color="medium">
    <ion-label>
      Question Information
    </ion-label>
  </ion-item-divider>

  <form [formGroup]="quizForm">

  <ion-item>
    <ion-label position="stacked">Question Text
      <ion-badge *ngIf="quizForm.controls.questionText.touched && quizForm.controls.questionText.invalid" color="danger">Required</ion-badge>
    </ion-label>
    <ion-textarea formControlName="questionText" rows="2"></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Number of Points Question is Worth
      <ion-badge *ngIf="quizForm.controls.pointsWorth.touched && quizForm.controls.pointsWorth.errors?.required" color="danger">Required</ion-badge>
      <ion-badge *ngIf="quizForm.controls.pointsWorth.touched && quizForm.controls.pointsWorth.errors?.pattern" color="danger">Invalid Input</ion-badge>
    </ion-label>
    <ion-input formControlName="pointsWorth"></ion-input>
  </ion-item>

  <ion-item-divider color="medium">
    <ion-label>
      Answer Choices (Select Correct Answer)
    </ion-label>
  </ion-item-divider>
  
  <ion-text *ngIf="quizForm.controls.choice2.touched && quizForm.controls.choice2.valid && quizForm.controls.correctAnswer.errors?.required" color="danger">Please select the correct answer</ion-text>
  
  <ion-grid>
    <ion-radio-group formControlName="correctAnswer">
      
    <ion-row>
      <ion-col size="1">
        <ion-radio value="choice1"></ion-radio>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">A
            <ion-badge *ngIf="quizForm.controls.choice1.touched && quizForm.controls.choice1.invalid" color="danger">Required</ion-badge>
          </ion-label>
          <ion-textarea formControlName="choice1"></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="1">
        <ion-radio value="choice2"></ion-radio>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">B
            <ion-badge *ngIf="quizForm.controls.choice2.touched && quizForm.controls.choice2.invalid" color="danger">Required</ion-badge>
          </ion-label>
          <ion-textarea formControlName="choice2"></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="1">
        <ion-radio value="choice3"></ion-radio>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">C</ion-label>
          <ion-textarea formControlName="choice3"></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="1">
        <ion-radio value="choice4"></ion-radio>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">D</ion-label>
          <ion-textarea formControlName="choice4"></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>

  </ion-radio-group>
  </ion-grid>

</form>

  <ion-row>
    <ion-col text-center>
      <ion-button class="text-button" fill="clear" (click)="dismiss()">Cancel</ion-button>
      <ion-button class="fill-button" (click)="closeModal()" [disabled]="!quizForm.valid">Save Question</ion-button>
    </ion-col>
  </ion-row>

</ion-content>
