<ion-header>
  <ion-toolbar>
    <ion-title>
      Information Desk
    </ion-title>
      <ion-button *ngIf="showDeleteOption" slot="end" color="danger" (click)="deleteQuestionOrAnswer('question', 'none', question)"> Delete Question </ion-button>
      <ion-button *ngIf="showReportOption" slot="end" color="danger" (click)="reportQuestionOrAnswer('question', 'none', question)"> Report </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-item>
      <div>
      <ion-row>
        <div *ngIf="!question.anon">
          <ion-col size=".7">
            <ion-button class="thumbnail" fill="clear"  (click)="goToProfile(question.userID, question.id)">
              <ion-thumbnail slot="start">
                <ion-img src="{{ question.profilePic }}"> </ion-img>
              </ion-thumbnail>
            </ion-button>
          </ion-col>
        </div>
        <div *ngIf="question.anon">
          <ion-col size=".7">
          <ion-button class="thumbnail" fill="clear"  disabled="true">
            <ion-thumbnail slot="start">
              <ion-img src="{{ question.profilePic }}"> </ion-img>
            </ion-thumbnail>
          </ion-button>
          </ion-col>
        </div>
        <ion-col>
          <b> {{ question.username }} </b>
          <ion-row>
            Posted at: {{ question.timestamp.seconds * 1000 | date:'MM-dd-yyyy h:mm:ss a' }}
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row class="header">
        {{question.title}}
      </ion-row>
      <ion-row>
        <p class="content">
          {{question.description}}
        </p>
      </ion-row>
      </div>
    </ion-item>

    <h6> Answers: </h6>
    <ion-list>
      <ion-item *ngFor="let answer of (answers | async)" class="ion-item">
          <div>
          <ion-row>

            <div *ngIf="!answer.anon && answer.type != 'admin'">
              <ion-col size=".7">
                <ion-button class="thumbnail" fill="clear"  (click)="goToProfile(answer.userID, question.id)">
                  <ion-thumbnail slot="start">
                    <ion-img src="{{ answer.profilePic }}"> </ion-img>
                  </ion-thumbnail>
                </ion-button>
              </ion-col>
            </div>
            <div *ngIf="answer.anon || answer.type == 'admin'">
              <ion-col size=".7">
                <ion-button class="thumbnail" fill="clear"  disabled="true">
                  <ion-thumbnail slot="start">
                    <ion-img src="{{ answer.profilePic }}"> </ion-img>
                  </ion-thumbnail>
                </ion-button>
              </ion-col>
            </div>
            <ion-col>
              <b> {{ answer.username }} </b>
              <ion-row class="comment-type">
                {{ answer.type }}
              </ion-row>
              <ion-row>
                Posted at: {{ answer.timestamp.seconds * 1000 | date:'MM-dd-yyyy h:mm:ss a' }}
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-row >
            <p class="content">
              {{ answer.input }}
            </p>
          </ion-row>
            <ion-row>
              <div *ngIf="showDeleteOption">
                <ion-button slot="end" fill='none' class="danger-text-button" (click)="deleteQuestionOrAnswer('answer', answer, question)"> Delete Answer </ion-button>
              </div>
              <div *ngIf="showReportOption" >
                <ion-button slot="end" fill='none' class="danger-text-button"(click)="reportQuestionOrAnswer('answer', answer, question)"> Report </ion-button>
              </div>
            </ion-row>
          </div>

      </ion-item>
    </ion-list>

  <ion-button *ngIf="!showSubmitButton" class="fill-button" expand="full" (click)="displayAnswerBox(); ">
    Answer
  </ion-button>
  <div *ngIf="showAnswerBox">
    <form [formGroup]="answerForm">
      <ion-item>
        <ion-label position="stacked">Enter Answer:</ion-label>
        <ion-textarea autoGrow="true" spellcheck="true" autocapitalize="true" formControlName="comment" placeholder="What would you like to say?"
          [class.invalid]="!answerForm.controls['comment'].valid && answerForm.controls['comment'].touched"></ion-textarea>
      </ion-item>
      <ion-item class="error-message" *ngIf="!answerForm.controls['comment'].valid && answerForm.controls['comment'].touched">
        <ion-label>Please enter a message.</ion-label>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button *ngIf="showSubmitButton" fill="clear" class="text-button" expand="full"  (click)="showSubmitButton = false; showAnswerBox = false">
            Cancel </ion-button>
        </ion-col>
        <ion-col>
          <ion-button *ngIf="showSubmitButton" class="fill-button" expand="full"  (click)="addAnswer(answerForm)"> Submit </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>



