<ion-header>
  <ion-toolbar>
    <ion-title>
      Type: {{ submission.type }}
    </ion-title>
    <ion-button slot="end" color="danger" (click)="deleteSubmissionConfirmation()"> Delete </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <p>
      <b> Submitted by: </b>  {{ submission.username }}
    </ion-item>
    <ion-item>
      <p>
      <b> User ID: </b>  {{ submission.userID }}
      </p>
    </ion-item>
    <ion-item>
      <p>
      <b> Android or iOS: </b>  {{ submission.operatingSys }}
      </p>
    </ion-item>
    <ion-item>
      <p>
        <b> Version: </b>  {{ submission.version }}
      </p>
    </ion-item>
    <ion-item>
      <p>
      <b> Title: </b>  {{ submission.title }}
      </p>
    </ion-item>
    <ion-item>
      <p>
      <b> Description: </b>  {{ submission.description }}
      </p>
    </ion-item>
  </ion-list>
</ion-content>
