<ion-header>
  <ion-toolbar>
    <ion-title>Surveys</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button class="fill-button" [routerLink]="['/surveys']">
    Add New Survey
  </ion-button>

  <ion-list>
    <ion-item button *ngFor="let survey of (surveys | async)" [routerLink]="['/surveys', survey.id]">
      {{ survey.title }}
    </ion-item>
  </ion-list>

</ion-content>
