<ion-header>
  <ion-toolbar>
    <ion-title>Surveys</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<script async defer src="https://apis.google.com/js/api.js"></script>

<ion-content>

  <ion-button class="fill-button" [routerLink]="['/surveys']">
    <ion-icon name="add-circle-outline"></ion-icon>
    Add New Survey
  </ion-button>

  <ion-button class="fill-button" (click)="authenticate().then(loadClient).then(execute)">
    <ion-icon name="notifications-outline"></ion-icon>
    Send Notifications Now
  </ion-button>

  <ion-item-divider class="custom-divider">
    <ion-label>
    <b>After Joining Surveys</b>
    </ion-label>
  </ion-item-divider>

  <ng-container *ngFor="let survey of (surveys | async)" >
    <ion-item button *ngIf="survey.type == 'After Joining'" [routerLink]="['/surveys', survey.id]">
      <ion-label>
        {{ survey.title }}
      </ion-label>
    </ion-item>
  </ng-container>


<ion-item-divider class="custom-divider">
  <ion-label>
    <b>Due Date Surveys</b>
  </ion-label>
</ion-item-divider>

<ng-container *ngFor="let survey of (surveys | async)" >
  <ion-item button *ngIf="survey.type == 'Due Date'" [routerLink]="['/surveys', survey.id]">
    <ion-label>
      {{ survey.title }}
    </ion-label>
  </ion-item>
</ng-container>

<ion-item-divider class="custom-divider">
  <ion-label>
    <b>Inactive User Surveys</b>
  </ion-label>
</ion-item-divider>

<ng-container *ngFor="let survey of (surveys | async)" >
  <ion-item button *ngIf="survey.type == 'Inactive'" [routerLink]="['/surveys', survey.id]">
    <ion-label>
      {{ survey.title }}
    </ion-label>
  </ion-item>
</ng-container>

<ion-item-divider class="custom-divider">
  <ion-label>
  <b>Emotion Triggered Surveys</b>
  </ion-label>
</ion-item-divider>

<ng-container *ngFor="let survey of (surveys | async)" >
  <ion-item button *ngIf="survey.type == 'Emotion'" [routerLink]="['/surveys', survey.id]">
    <ion-label>
      {{ survey.title }}
    </ion-label>
  </ion-item>
</ng-container>

</ion-content>
