.subheader {
  --background: #f5f6f9;
}

.label {
  font-size: 16px;
  color: #505050;
  font-weight: bold;
}

.timestamp {
  color: #383a3e;
  font-size: 10px;
}


.numOfComments {
  color: #383a3e;
  font-size: 15px;
}

.padding-top {
  padding-top: 10px;
}

.noHighlight {
  --background: var(--secondary-color);
}


.numOfComments {
  color: #383a3e;
  font-size: 15px;
}

.padding-top {
  padding-top: 10px;
}

.dots {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 1000px;
}


