<ion-app>
  <ion-menu contentId="content1" side="start" swipeGesture="false">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item-option class="fill-button" routerLink="/tabs/home">Users</ion-item-option>
        <ion-item-option class="fill-button" routerLink="/forum">Information Desk</ion-item-option>
        <ion-item-option class="fill-button" routerLink="/chat-cohort-list/">Chat Log</ion-item-option>
        <ion-item-option class="fill-button" routerLink="/learningmodules">Learning Modules</ion-item-option>
        <ion-item-option class="fill-button" routerLink="/survey-list">Surveys</ion-item-option>
        <ion-item-option class="fill-button" routerLink="/pregnancy-updates">Pregnancy Updates</ion-item-option>
        <ion-item-option class="fill-button" routerLink="/analytics">Analytics</ion-item-option>
        <ion-item-option class="fill-button" routerLink="/inbox">Inbox</ion-item-option>
        <ion-item-option class="fill-button" routerLink="/locations">Location</ion-item-option>
        <ion-item-option class="fill-button" routerLink="/mobile-settings">Settings</ion-item-option>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="content1" main></ion-router-outlet>
</ion-app>
