<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logOut()">
        Log Out
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wrap">
    <div>
      <ion-avatar class="img">
        <img src="{{ provider.profilePic }}" alt="">
      </ion-avatar>
    </div>
    <div class="username">
      <ion-text  padding-horizontal>
        {{ provider.username }}
      </ion-text>
    </div>
    <div class="providerType">
      <ion-text>
        {{ provider.providerType }}
      </ion-text>
    </div>
    <div class="bio">
      <ion-text >
        Bio: {{ provider.bio }}
      </ion-text>
    </div>
  </div>

  <ion-list>
    <ion-list-header> Personal Information </ion-list-header>
    <ion-item>
      <ion-label>
        <ion-grid>
          <ion-row>
            <ion-col class="text-left" size="5"> <b>Name </b></ion-col>
            <ion-col class="text-center" size="5">
              {{provider.firstName}} {{ provider.lastName }}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-grid>
          <ion-row>
            <ion-col class="text-left" size="5"> <b>Email </b></ion-col>
            <ion-col class="text-center" size="5" *ngIf="provider.email">
              {{provider.email}}
            </ion-col>
            <ion-col class="text-right">
              <ion-button class="fill-button"> Update </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-grid>
          <ion-row>
            <ion-col class="text-left" size="5"> <b> Password </b></ion-col>
            <ion-col class="text-center" size="5" >
              <span> Hidden </span>
            </ion-col>
            <ion-col class="text-right">
              <ion-button class="fill-button"> Update </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
    </ion-item>


  </ion-list>
</ion-content>

