.wrap {
  text-align: center;
}

.img{
  border: 1px solid rgba(0, 0, 0, 0.25);
  margin: 0 auto;
  width: 200px;
  height: 200px;
}

.username {
  padding-top: 20px;
  margin: 0 auto;
  font-size: x-large !important;
  font-weight: bold !important;
  text-transform: capitalize;
}

.providerType {
  font-size: large !important;
  font-weight: bold !important;
}

ion-list-header {
  background-color: #ececec;
}
