
<ion-header>
<ion-toolbar>
  <ion-buttons slot= "start">
  <ion-back-button defaultHref="/locations"></ion-back-button>
</ion-buttons>
  <ion-title *ngIf="location.id">{{location.title}} Location Details</ion-title>

</ion-toolbar>
</ion-header>

<ion-content >
      <ion-item>
        <ion-label position= "stacked"> Location Title </ion-label>
        <ion-input [(ngModel)] = "location.title"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position= "stacked"> Location Description </ion-label>
        <ion-input [(ngModel)] = "location.content"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position= "stacked"> Street Address </ion-label>
        <ion-input [(ngModel)] = "location.street"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position= "stacked"> Phone Number </ion-label>
        <ion-input [(ngModel)] = "location.phone"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position= "stacked"> Latitude </ion-label>
        <ion-input [(ngModel)] = "location.latitude"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position= "stacked"> Longitude </ion-label>
        <ion-input [(ngModel)] = "location.longitude"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position= "stacked"> Hours of Operation Monday - Friday </ion-label>
        <ion-input [(ngModel)] = "location.operationMF"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position= "stacked"> Hours of Operation Saturday </ion-label>
        <ion-input [(ngModel)] = "location.operationSaturday"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position= "stacked"> Hours of Operation Sunday </ion-label>
        <ion-input [(ngModel)] = "location.operationSunday"></ion-input>
      </ion-item>


      <ion-item>
        <ion-label position= "stacked"> Special Note </ion-label>
        <ion-input [(ngModel)] = "location.special"></ion-input>
      </ion-item>



      <ion-list>
      <ion-radio-group [(ngModel)] = "location.type">
        <ion-list-header>
          <ion-label> Type of Location </ion-label>
        </ion-list-header>

        <ion-item>
          <ion-label> Clinic </ion-label>
          <ion-radio slot="start" value="clinic"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label> Hospital </ion-label>
          <ion-radio slot="start" value="hospital"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label> Therapy </ion-label>
          <ion-radio slot="start" value="therapy"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>

</ion-content>



<ion-footer *ngIf="location.id">
  <ion-row no-padding text-center>
    <ion-col size="6">
      <ion-button expand="block" fill="outline" color="danger" (click)="deleteLocationConfirmation()">
        <ion-icon name="trash" slot="start"></ion-icon>
        Delete
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button button [routerLink]="['/locations/']" expand="block" fill="solid" color="success" (click)="updateLocation()">
        <ion-icon name="save" slot="start"></ion-icon>
        Update
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
