<ion-header>
    <ion-toolbar>
        <ion-title>Challenges</ion-title>
        <ion-buttons slot="start">
            <ion-menu-button autoHide="false"></ion-menu-button>
            <ion-back-button defaultHref="/challenges"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form (ngSubmit)="logForm()">
        <ion-grid>
            <ion-row>
                <ion-col size="6">
                    <ion-item>
                        <ion-label position="stacked"> Challenge Title
<!--                            <ion-badge-->
<!--                                    *ngIf="challengesForm.controls.title.touched && challengesForm.controls.title.invalid"-->
<!--                                    color="danger">-->
<!--                                Required-->
<!--                            </ion-badge>-->
                        </ion-label>
                        <ion-input name="title" [(ngModel)]="challenge.title"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
<!--            <ion-row>-->
<!--                <ion-col size="6">-->
<!--                    <ion-item>-->
<!--                        <ion-label position="stacked"> Cover Picture-->
<!--                        </ion-label>-->
<!--                        <input type="file" class="upload" id="coverPicture" (change)="uploadedImage = $event.target.files"/>-->
<!--                    </ion-item>-->
<!--                </ion-col>-->
<!--            </ion-row>-->
            <ion-row>
                <ion-col size="6">
                    <ion-item>
                        <ion-label position="stacked"> Challenge Description
                        </ion-label>
                        <ion-textarea name="desc" [(ngModel)]="challenge.description"></ion-textarea>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="6">
                    <ion-item>
                        <ion-label position="stacked"> Challenge Picture
                        </ion-label>
                        <input id="pictureInput" type="file" name="picture">
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-thumbnail>
                        <ion-img *ngIf="challenge.id" src="{{challenge.coverPicture}}"></ion-img>
                    </ion-thumbnail>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="6">
                    <ion-item>
                        <ion-label position="stacked">Categories
<!--                            <ion-badge-->
<!--                                    *ngIf="challengesForm.controls.type.touched && challengesForm.controls.type.invalid"-->
<!--                                    color="danger"> Required-->
<!--                            </ion-badge>-->
                        </ion-label>
                        <ion-select name="type" [(ngModel)]="challenge.type">
                            <ion-select-option *ngFor="let type of (challengeTypes|async)" value="{{type.type}}">{{type.type}}</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="3">
                    <ion-item>
                        <ion-label position="stacked"> Length of Challenges (days)
<!--                            <ion-badge-->
<!--                                    *ngIf="challengesForm.controls.length.touched && challengesForm.controls.length.invalid"-->
<!--                                    color="danger"> Required-->
<!--                            </ion-badge>-->
                        </ion-label>
                        <ion-input name="length" id="length" type="number" max="30" min="1" [(ngModel)]="challenge.length"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="3">
                    <ion-button (click)="addContent()">Create Content</ion-button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="6">
                    <ion-list>
                        <ng-container *ngFor="let day of challenge.contents; let i = index">
                            <ion-label position="stacked">Task {{i + 1}}</ion-label>
                            <ion-item>
                                <ion-label position="stacked">Title</ion-label>
                                <ion-input type="text" name="taskTitle{{i}}" [(ngModel)]="challenge.contents[i].title"></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-label position="stacked">Activity</ion-label>
                                <ion-textarea type="text" name="taskActivity{{i}}" [(ngModel)]="challenge.contents[i].activity"></ion-textarea>
                            </ion-item>
                            <ion-item>
                                <ion-label position="stacked">Tips (separate each tip with a comma)</ion-label>
                                <ion-input type="text" name="taskTips{{i}}" [(ngModel)]="challenge.contents[i].tips"></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-label position="stacked">Resource (separate each resource with a comma)</ion-label>
                                <ion-input type="text" name="taskResources{{i}}" [(ngModel)]="challenge.contents[i].resources"></ion-input>
                            </ion-item>
                        </ng-container>
                    </ion-list>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-button type="submit" *ngIf="!challenge.id">
            Submit
        </ion-button>

        <ion-row *ngIf="challenge.id">
            <!-- Deletes Survey -->
            <ion-col size="6">
                <ion-button expand="block" fill="outline" color="danger" (click)="deleteChallengeConfirmation()">
                    <ion-icon name="trash" slot="start"></ion-icon>
                    Delete
                </ion-button>
            </ion-col>

            <!-- Updates Survey -->
            <ion-col size="6">
                <ion-button expand="block" fill="solid" color="success" type="submit">
                    <ion-icon name="save" slot="start"></ion-icon>
                    Update
                </ion-button>
            </ion-col>
        </ion-row>
    </form>
    <ion-footer>
        <ion-toolbar>
<!--            <ion-button class="fill-button" expand="full" (click)="uploadImage(uploadedImage, challengesForm)">-->
<!--                Submit-->
<!--            </ion-button>-->

        </ion-toolbar>
    </ion-footer>
</ion-content>


