<ion-header>
    <ion-toolbar>
        <ion-title>Challenges</ion-title>
        <ion-buttons slot="start">
            <ion-menu-button autoHide="false"></ion-menu-button>
            <ion-back-button defaultHref="/challenges"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="challengesForm">
        <ion-grid>
            <ion-row>
                <ion-col size="6">
                    <ion-item>
                        <ion-label position="stacked"> Challenge Title
                            <ion-badge
                                    *ngIf="challengesForm.controls.title.touched && challengesForm.controls.title.invalid"
                                    color="danger">
                                Required
                            </ion-badge>
                        </ion-label>
                        <ion-input formControlName="title"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="6">
                    <ion-item>
                        <ion-label position="stacked"> Cover Picture
                        </ion-label>
                        <input type="file" id="coverPicture" (change)="uploadImage('coverPicture')"/>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="6">
                    <ion-item>
                        <ion-label position="stacked"> Challenge Description
                            <ion-badge
                                    *ngIf="challengesForm.controls.description.touched && challengesForm.controls.description.invalid"
                                    color="danger"> Required
                            </ion-badge>
                        </ion-label>
                        <ion-textarea formControlName="description"></ion-textarea>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="6">
                    <ion-item>
                        <ion-label position="stacked">Categories
                            <ion-badge
                                    *ngIf="challengesForm.controls.type.touched && challengesForm.controls.type.invalid"
                                    color="danger"> Required
                            </ion-badge>
                        </ion-label>
                        <ion-select formControlName="type" multiple="true">
                            <ion-select-option value="nutrition">Nutrition</ion-select-option>
                            <ion-select-option value="parenting">Parenting</ion-select-option>
                            <ion-select-option value="mindfulness">Mindfulness</ion-select-option>
                            <ion-select-option value="mentalHealth">Mental Health</ion-select-option>
                            <ion-select-option value="exercise">Exercise</ion-select-option>
                            <ion-select-option value="miscellaneous">Miscellaneous</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="3">
                    <ion-item>
                        <ion-label position="stacked"> Length of Challenges (days)
                            <ion-badge
                                    *ngIf="challengesForm.controls.length.touched && challengesForm.controls.length.invalid"
                                    color="danger"> Required
                            </ion-badge>
                        </ion-label>
                        <ion-input id="length" type="number" max="30" min="1" formControlName="length"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="3">
                    <ion-button (click)="addContent()">Create Content</ion-button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="6">
                    <ion-list *ngFor="let day of challengeContent">
                        <ion-label position="stacked">Day {{challengeContent.indexOf(day) + 1}}</ion-label>
                        <ion-item>
                            <ion-label position="stacked">Title</ion-label>
                            <ion-input type="text" id="title{{day}}"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="stacked">Description</ion-label>
                            <ion-input type="text" id="desc{{day}}"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="stacked">URL</ion-label>
                            <ion-input type="text" id="url{{day}}"></ion-input>
                        </ion-item>
                        <ion-item>
                            <input type="file" id="{{day}}" (change)="uploadImage(day)"/>
                        </ion-item>
                    </ion-list>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
    <ion-footer>
        <ion-toolbar>
            <ion-button class="fill-button" expand="full" (click)="submitChallenge(challengesForm)"
                        [disabled]="!challengesForm.valid">
                Submit
            </ion-button>
        </ion-toolbar>
    </ion-footer>
</ion-content>


