.fill-button {
  --background: var(--main-color);
  --background-activated: var(--secondary-color);
  --background-hover: var(--tertiary-color);
}

.fixedLabel {
       min-width: 20% !important;
       max-width: 20% !important;
   }

ion-card{

       width: 60% !important;
       height: 60% !important;
       margin: 20 !important;
     }


     canvas {
             -moz-user-select: none;
             -webkit-user-select: none;
             -ms-user-select: none;
         }
