.fill-button {
  --background: var(--main-color);
  --background-activated: var(--secondary-color);
  --background-hover: var(--tertiary-color);
}

.fixedLabel {
       min-width: 20% !important;
       max-width: 20% !important;
   }

ion-card{

       width: 70% !important;
       height: 70% !important;
       margin: 10 !important;
     }

     #myGraph {
     width: 95%;
     height: 90%;
     }

     .vertical-rl {
  writing-mode: vertical-rl;
  color: #8A2BE2;
  display: inline-block;
}


     canvas {
             -moz-user-select: none;
             -webkit-user-select: none;
             -ms-user-select: none;
         }
