<ion-header>
  <ion-toolbar>
    <ion-title> Analytics </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-row>
  <ion-col>
    <ion-button class="fill-button"  expand="block" size="large" (click) = "pageStatsOn()" > Page Statistics</ion-button>
  </ion-col>
  <ion-col>
    <ion-button class="fill-button"  expand="block" size="large" (click) = "pageStatsOff()"> Duration Statistics</ion-button>
  </ion-col>

</ion-row>

<ion-content>


    <div *ngIf="pageStatistics" class="ion-padding">

      <ion-card style='height:100%'>
        <ion-card-content >
          <canvas  #lineChart></canvas>
        </ion-card-content>
      </ion-card>

      <ion-item>
        <ion-label> Page </ion-label>
        <ion-select placeholder="Select One" [(ngModel)] ="pageString">
          <ion-select-option value="calendar">Calendar</ion-select-option>
          <ion-select-option value="chat">Chat Room</ion-select-option>
          <ion-select-option value="home">Home</ion-select-option>
          <ion-select-option value="infoDesk">Info Desk</ion-select-option>
          <ion-select-option value="learningModule">Learning Module</ion-select-option>
          <ion-select-option value="survey">Survey</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-icon name="calendar"></ion-icon>
        <ion-button expand="block" fill="clear" (click)= "openFromCalendar()" >From Date </ion-button>
        <ion-label>{{fromDateString}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="calendar"></ion-icon>
        <ion-button expand="block" fill="clear" (click)="minEndDate()" (click)= "openToCalendar()" >To Date </ion-button>
        <ion-label>{{toDateString}}</ion-label>
      </ion-item>
        <ion-button  (click) = "On()" (click)="getMeasureForPages()" padding = "100" type='button'>
          submit
        </ion-button>
    </div>

    <div *ngIf="openFromCalendarSwitch">
      <ion-item>
        <ionic-calendar-date-picker #start (onSelect) ="dateSelected($event)" [fromDate]= "minDate" [toDate]="today" ></ionic-calendar-date-picker>

          <ion-button expand="block" fill="clear"  (click)="closeFromCalendar()" >Ok </ion-button>

      </ion-item>
    </div>

        <div  *ngIf="openToCalendarSwitch">
          <ion-item>
            <ionic-calendar-date-picker #end (onSelect) ="dateSelectedEnd($event)" [fromDate]= "minStartToEnd" [toDate]="maxStartToEnd" ></ionic-calendar-date-picker>

              <ion-button expand="block" fill="clear" (click) = "closeToCalendar()">Ok </ion-button>

          </ion-item>

        </div>

    <div *ngIf = "submitted">

    <ion-item>
        Page Duration in Minutes: {{displayDuration}} Minutes
  </ion-item>
  <ion-item>
        Total Average Vists Per Session: {{calendarAverage}}
    </ion-item>


    </div>

    <div *ngIf = "durationSubmitted">

    <ion-item>

        Total Average Vists Per Session: {{calendarAverage}}

    </ion-item>

    </div>


    <div *ngIf="durationPage" class="ion-padding">

      <ion-card style='height:100%'>
        <ion-card-content >
          <canvas  #barChart></canvas>
        </ion-card-content>
      </ion-card>

      <ion-item>
        <ion-icon name="calendar"></ion-icon>
        <ion-button expand="block" fill="clear" (click)= "openFromCalendar()" >From Date </ion-button>
        <ion-label>{{fromDateString}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="calendar"></ion-icon>
        <ion-button expand="block" fill="clear" (click)= "openToCalendar()" >To Date </ion-button>
        <ion-label>{{toDateString}}</ion-label>
      </ion-item>

        <ion-button  (click) = "durationOn()" (click) = "totalDurationMeasuresCalculation('non')" padding = "100" type='button'>
          submit
        </ion-button>
    </div>




  </ion-content>
