<ion-header>
  <ion-toolbar>
    <ion-title>Location Information</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
      <ion-back-button defaultHref="/locations"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="locationForm">

  <ion-item>
    <ion-label position= "stacked"> Location Title
    <ion-badge *ngIf= "locationForm.controls.title.touched && locationForm.controls.title.invalid" color= "danger"> Required</ion-badge>
   </ion-label>
    <ion-input formControlName = "title"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position= "stacked"> Location Description
      <ion-badge *ngIf= "locationForm.controls.content.touched && locationForm.controls.content.invalid" color= "danger"> Required</ion-badge>
    </ion-label>
    <ion-textarea formControlName = "content"> </ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label position= "stacked"> Street Address
    <ion-badge *ngIf= "locationForm.controls.street.touched && locationForm.controls.street.invalid" color= "danger"> Required</ion-badge>
  </ion-label>
    <ion-input formControlName = "street"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position= "stacked"> Phone Number
    <ion-badge *ngIf= "locationForm.controls.phone.touched && locationForm.controls.phone.errors?.required" color= "danger"> Required</ion-badge>
    <ion-badge *ngIf= "locationForm.controls.phone.touched && locationForm.controls.phone.errors?.pattern" color= "danger"> Invalid Input : (###)###-####</ion-badge>
   </ion-label>
    <ion-input formControlName = "phone"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position= "stacked" > Latitude
    <ion-badge *ngIf= "locationForm.controls.latitude.touched && locationForm.controls.latitude.errors?.required" color= "danger"> Required</ion-badge>
    <ion-badge *ngIf= "locationForm.controls.latitude.touched && locationForm.controls.latitude.errors?.pattern" color= "danger">Invalid Input</ion-badge>
   </ion-label>
    <ion-input formControlName = "latitude"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position= "stacked"> Longitude
    <ion-badge *ngIf= "locationForm.controls.longitude.touched && locationForm.controls.longitude.errors?.required" color= "danger"> Required</ion-badge>
    <ion-badge *ngIf= "locationForm.controls.longitude.touched && locationForm.controls.longitude.errors?.pattern" color= "danger"> Invalid Input</ion-badge>
   </ion-label>
    <ion-input formControlName = "longitude"></ion-input>
  </ion-item>

  <ion-item lines="none">
    <ion-label position= "stacked"> Hours of Operation (leave blank if closed)<br>Please specify hour, minutes, and AM/PM</ion-label>
  </ion-item>
  <ion-list>
    <ion-item lines="none">
      <ion-label slot="start">Monday </ion-label>
      <ion-item slot="start">
        <ion-label position = "floating">Open</ion-label>
        <ion-badge *ngIf= "locationForm.controls.operationMOpen.touched && locationForm.controls.operationMOpen.errors?.pattern" color= "danger"> Invalid Input</ion-badge>
        <ion-input formControlName="operationMOpen"></ion-input>
      </ion-item>
      <ion-item slot="start">
        <ion-label position = "floating">Close</ion-label>
        <ion-badge *ngIf= "locationForm.controls.operationMClose.touched && locationForm.controls.operationMClose.errors?.pattern" color= "danger"> Invalid Input</ion-badge>
        <ion-input formControlName="operationMClose"></ion-input>
      </ion-item>
    </ion-item>
    <ion-item lines="none">
      <ion-label slot="start">Tuesday </ion-label>
      <ion-item slot="start">
        <ion-label position = "floating">Open</ion-label>
        <ion-badge *ngIf= "locationForm.controls.operationTOpen.touched && locationForm.controls.operationTOpen.errors?.pattern" color= "danger"> Invalid Input</ion-badge>
        <ion-input formControlName="operationTOpen"></ion-input>
      </ion-item>
      <ion-item slot="start">
        <ion-label position = "floating">Close</ion-label>
        <ion-badge *ngIf= "locationForm.controls.operationTClose.touched && locationForm.controls.operationTClose.errors?.pattern" color= "danger"> Invalid Input</ion-badge>
        <ion-input formControlName="operationTClose"></ion-input>
      </ion-item>
    </ion-item>
    <ion-item lines="none">
      <ion-label slot="start">Wednesday </ion-label>
      <ion-item slot="start">
        <ion-label position = "floating">Open</ion-label>
        <ion-badge *ngIf= "locationForm.controls.operationWOpen.touched && locationForm.controls.operationWOpen.errors?.pattern" color= "danger"> Invalid Input</ion-badge>
        <ion-input formControlName="operationWOpen"></ion-input>
      </ion-item>
      <ion-item slot="start">
        <ion-label position = "floating">Close</ion-label>
        <ion-badge *ngIf= "locationForm.controls.operationWClose.touched && locationForm.controls.operationWClose.errors?.pattern" color= "danger"> Invalid Input</ion-badge>
        <ion-input formControlName="operationWClose"></ion-input>
      </ion-item>
    </ion-item>
    <ion-item lines="none">
      <ion-label slot="start">Thursday </ion-label>
      <ion-item slot="start">
        <ion-label position = "floating">Open</ion-label>
        <ion-badge *ngIf= "locationForm.controls.operationThOpen.touched && locationForm.controls.operationThOpen.errors?.pattern" color= "danger"> Invalid Input</ion-badge>
        <ion-input formControlName="operationThOpen"></ion-input>
      </ion-item>
      <ion-item slot="start">
        <ion-label position = "floating">Close</ion-label>
        <ion-badge *ngIf= "locationForm.controls.operationThClose.touched && locationForm.controls.operationThClose.errors?.pattern" color= "danger"> Invalid Input</ion-badge>
        <ion-input formControlName="operationThClose"></ion-input>
      </ion-item>
    </ion-item>
    <ion-item lines="none">
      <ion-label slot="start">Friday </ion-label>
      <ion-item slot="start">
        <ion-label position = "floating">Open</ion-label>
        <ion-badge *ngIf= "locationForm.controls.operationFOpen.touched && locationForm.controls.operationFOpen.errors?.pattern" color= "danger"> Invalid Input</ion-badge>
        <ion-input formControlName="operationFOpen"></ion-input>
      </ion-item>
      <ion-item slot="start">
        <ion-label position = "floating">Close</ion-label>
        <ion-badge *ngIf= "locationForm.controls.operationFClose.touched && locationForm.controls.operationFClose.errors?.pattern" color= "danger"> Invalid Input</ion-badge>
        <ion-input formControlName="operationFClose"></ion-input>
      </ion-item>
    </ion-item>
    <ion-item lines="none">
      <ion-label slot="start">Saturday </ion-label>
      <ion-item slot="start">
        <ion-label position = "floating">Open</ion-label>
        <ion-badge *ngIf= "locationForm.controls.operationSatOpen.touched && locationForm.controls.operationSatOpen.errors?.pattern" color= "danger"> Invalid Input</ion-badge>
        <ion-input formControlName="operationSatOpen"></ion-input>
      </ion-item>
      <ion-item slot="start">
        <ion-label position = "floating">Close</ion-label>
        <ion-badge *ngIf= "locationForm.controls.operationSatClose.touched && locationForm.controls.operationSatClose.errors?.pattern" color= "danger"> Invalid Input</ion-badge>
        <ion-input formControlName="operationSatClose"></ion-input>
      </ion-item>
    </ion-item>
    <ion-item lines="none">
      <ion-label slot="start">Sunday </ion-label>
      <ion-item slot="start">
        <ion-label position = "floating">Open</ion-label>
        <ion-badge *ngIf= "locationForm.controls.operationSunOpen.touched && locationForm.controls.operationSunOpen.errors?.pattern" color= "danger"> Invalid Input</ion-badge>
        <ion-input formControlName="operationSunOpen"></ion-input>
      </ion-item>
      <ion-item slot="start">
        <ion-label position = "floating">Close</ion-label>
        <ion-badge *ngIf= "locationForm.controls.operationSunClose.touched && locationForm.controls.operationSunClose.errors?.pattern" color= "danger"> Invalid Input</ion-badge>
        <ion-input formControlName="operationSunClose"></ion-input>
      </ion-item>
    </ion-item>
  </ion-list>
<!--  <ion-row>-->
<!--    <ion-col>-->
<!--      <ion-item>-->
<!--      <ion-label position= "floating"> Monday-->
<!--        <ion-badge *ngIf= "locationForm.controls.operationMF.touched && locationForm.controls.operationMF.invalid" color= "danger"> Required</ion-badge>-->
<!--      </ion-label>-->
<!--        <ion-row>-->
<!--        <ion-col>-->
<!--          <ion-item>-->
<!--            <ion-label position = "floating">Open</ion-label>-->
<!--            <ion-datetime formControlName="operationMF" picker-format="h:mm A" minute-values="0,30"></ion-datetime>-->
<!--          </ion-item>-->
<!--        </ion-col>-->
<!--        <ion-col>-->
<!--          <ion-item>-->
<!--            <ion-label position = "floating">Close</ion-label>-->
<!--            <ion-datetime formControlName="operationMF" picker-format="h:mm A" minute-values="0,30"></ion-datetime>-->
<!--          </ion-item>-->
<!--        </ion-col>-->
<!--      </ion-row>-->
<!--        &lt;!&ndash;        <ion-input formControlName = "operationMF"></ion-input>&ndash;&gt;-->
<!--      </ion-item>-->
<!--    </ion-col>-->
<!--  </ion-row>-->

  <ion-item>
    <ion-label position= "stacked"> Special Note (optional) </ion-label>
    <ion-input formControlName = "special"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Type of Location</ion-label>
    <ion-badge *ngIf= "locationForm.controls.type.touched && locationForm.controls.type.invalid" color= "danger"> Required</ion-badge>
    <ion-select formControlName="type" interface="popover">
      <ion-select-option value="MAT Provider">MAT Provider</ion-select-option>
      <ion-select-option value="Hospital">Hospital</ion-select-option>
      <ion-select-option value="Counseling">Counseling</ion-select-option>
      <ion-select-option value="Other">Other Resource</ion-select-option>
    </ion-select>
  </ion-item>

<!--  <ion-list>-->
<!--  <ion-radio-group formControlName = "type">-->
<!--    <ion-list-header>-->
<!--      <ion-label> Type of Location-->
<!--    </ion-label>-->
<!--    </ion-list-header>-->

<!--    <ion-item>-->
<!--      <ion-label> Clinic </ion-label>-->
<!--      <ion-radio slot="start" value="clinic"></ion-radio>-->
<!--    </ion-item>-->

<!--    <ion-item>-->
<!--      <ion-label> Hospital </ion-label>-->
<!--      <ion-radio slot="start" value="hospital"></ion-radio>-->
<!--    </ion-item>-->

<!--    <ion-item>-->
<!--      <ion-label> Therapy </ion-label>-->
<!--      <ion-radio slot="start" value="therapy"></ion-radio>-->
<!--    </ion-item>-->
<!--  </ion-radio-group>-->
<!--</ion-list>-->
</form>

<ion-footer >
  <ion-toolbar>
    <ion-button class="fill-button" expand="full" (click)="submitLocation(locationForm)" [disabled] = "!locationForm.valid">
      Submit
    </ion-button>
  </ion-toolbar>
</ion-footer>

</ion-content>
