<ion-header>
  <ion-toolbar>
    <ion-title>Location Information</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
      <ion-back-button defaultHref="/locations"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="locationForm">

  <ion-item>
    <ion-label position= "stacked"> Location Title
    <ion-badge *ngIf= "locationForm.controls.title.touched && locationForm.controls.title.invalid" color= "danger"> Required</ion-badge>
   </ion-label>
    <ion-input formControlName = "title"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position= "stacked"> Location Description
      <ion-badge *ngIf= "locationForm.controls.content.touched && locationForm.controls.content.invalid" color= "danger"> Required</ion-badge>
    </ion-label>
    <ion-textarea formControlName = "content"> </ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label position= "stacked"> Street Address
    <ion-badge *ngIf= "locationForm.controls.street.touched && locationForm.controls.street.invalid" color= "danger"> Required</ion-badge>
  </ion-label>
    <ion-input formControlName = "street"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position= "stacked"> Phone Number
    <ion-badge *ngIf= "locationForm.controls.phone.touched && locationForm.controls.phone.errors?.required" color= "danger"> Required</ion-badge>
    <ion-badge *ngIf= "locationForm.controls.phone.touched && locationForm.controls.phone.errors?.pattern" color= "danger"> Invalid Input : (###)###-####</ion-badge>
   </ion-label>
    <ion-input formControlName = "phone"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position= "stacked" > Latitude
    <ion-badge *ngIf= "locationForm.controls.latitude.touched && locationForm.controls.latitude.errors?.required" color= "danger"> Required</ion-badge>
    <ion-badge *ngIf= "locationForm.controls.latitude.touched && locationForm.controls.latitude.errors?.pattern" color= "danger">Invalid Input</ion-badge>
   </ion-label>
    <ion-input formControlName = "latitude"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position= "stacked"> Longitude
    <ion-badge *ngIf= "locationForm.controls.longitude.touched && locationForm.controls.longitude.errors?.required" color= "danger"> Required</ion-badge>
    <ion-badge *ngIf= "locationForm.controls.longitude.touched && locationForm.controls.longitude.errors?.pattern" color= "danger"> Invalid Input</ion-badge>
   </ion-label>
    <ion-input formControlName = "longitude"></ion-input>
  </ion-item>

  <ion-item lines="none">
    <ion-label position= "stacked"> Hours of Operation (leave blank if closed)</ion-label>
  </ion-item>
  <ion-list>
    <ion-item lines="none">
      <ion-label slot="start">Monday </ion-label>
      <ion-item slot="start">
        <ion-label position = "floating">Open</ion-label>
        <ion-datetime value="closed" formControlName="operationMOpen" display-format="HH:mm A" picker-format="h:mm A" minute-values="0,30"></ion-datetime>
      </ion-item>
      <ion-item slot="start">
        <ion-label position = "floating">Close</ion-label>
        <ion-datetime value="closed" formControlName="operationMClose" display-format="HH:mm A" picker-format="h:mm A" minute-values="0,30"></ion-datetime>
      </ion-item>
    </ion-item>
    <ion-item lines="none">
      <ion-label slot="start">Tuesday </ion-label>
      <ion-item slot="start">
        <ion-label position = "floating">Open</ion-label>
        <ion-datetime value="closed" formControlName="operationTOpen" display-format="HH:mm A" picker-format="h:mm A" minute-values="0,30"></ion-datetime>
      </ion-item>
      <ion-item slot="start">
        <ion-label position = "floating">Close</ion-label>
        <ion-datetime value="closed" formControlName="operationTClose" display-format="HH:mm A" picker-format="h:mm A" minute-values="0,30"></ion-datetime>
      </ion-item>
    </ion-item>
    <ion-item lines="none">
      <ion-label slot="start">Wednesday </ion-label>
      <ion-item slot="start">
        <ion-label position = "floating">Open</ion-label>
        <ion-datetime value="closed" formControlName="operationWOpen" display-format="HH:mm A" picker-format="h:mm A" minute-values="0,30"></ion-datetime>
      </ion-item>
      <ion-item slot="start">
        <ion-label position = "floating">Close</ion-label>
        <ion-datetime value="closed" formControlName="operationWClose" display-format="HH:mm A" picker-format="h:mm A" minute-values="0,30"></ion-datetime>
      </ion-item>
    </ion-item>
    <ion-item lines="none">
      <ion-label slot="start">Thursday </ion-label>
      <ion-item slot="start">
        <ion-label position = "floating">Open</ion-label>
        <ion-datetime value="closed" formControlName="operationThOpen" display-format="HH:mm A" picker-format="h:mm A" minute-values="0,30"></ion-datetime>
      </ion-item>
      <ion-item slot="start">
        <ion-label position = "floating">Close</ion-label>
        <ion-datetime value="closed" formControlName="operationThOpen" display-format="HH:mm A" picker-format="h:mm A" minute-values="0,30"></ion-datetime>
      </ion-item>
    </ion-item>
    <ion-item lines="none">
      <ion-label slot="start">Friday </ion-label>
      <ion-item slot="start">
        <ion-label position = "floating">Open</ion-label>
        <ion-datetime value="closed" formControlName="operationFOpen" display-format="HH:mm A" picker-format="h:mm A" minute-values="0,30"></ion-datetime>
      </ion-item>
      <ion-item slot="start">
        <ion-label position = "floating">Close</ion-label>
        <ion-datetime value="closed" formControlName="operationFClose" display-format="HH:mm A" picker-format="h:mm A" minute-values="0,30"></ion-datetime>
      </ion-item>
    </ion-item>
    <ion-item lines="none">
      <ion-label slot="start">Saturday </ion-label>
      <ion-item slot="start">
        <ion-label position = "floating">Open</ion-label>
        <ion-datetime value="closed" formControlName="operationSatOpen" display-format="HH:mm A" picker-format="h:mm A" minute-values="0,30"></ion-datetime>
      </ion-item>
      <ion-item slot="start">
        <ion-label position = "floating">Close</ion-label>
        <ion-datetime value="closed" formControlName="operationSatOpen" display-format="HH:mm A" picker-format="h:mm A" minute-values="0,30"></ion-datetime>
      </ion-item>
    </ion-item>
    <ion-item lines="none">
      <ion-label slot="start">Sunday </ion-label>
      <ion-item slot="start">
        <ion-label position = "floating">Open</ion-label>
        <ion-datetime value="closed" formControlName="operationSunOpen" display-format="HH:mm A" picker-format="h:mm A" minute-values="0,30"></ion-datetime>
      </ion-item>
      <ion-item slot="start">
        <ion-label position = "floating">Close</ion-label>
        <ion-datetime value="closed" formControlName="operationSunClose" display-format="HH:mm A" picker-format="h:mm A" minute-values="0,30"></ion-datetime>
      </ion-item>
    </ion-item>
  </ion-list>
<!--  <ion-row>-->
<!--    <ion-col>-->
<!--      <ion-item>-->
<!--      <ion-label position= "floating"> Monday-->
<!--        <ion-badge *ngIf= "locationForm.controls.operationMF.touched && locationForm.controls.operationMF.invalid" color= "danger"> Required</ion-badge>-->
<!--      </ion-label>-->
<!--        <ion-row>-->
<!--        <ion-col>-->
<!--          <ion-item>-->
<!--            <ion-label position = "floating">Open</ion-label>-->
<!--            <ion-datetime formControlName="operationMF" picker-format="h:mm A" minute-values="0,30"></ion-datetime>-->
<!--          </ion-item>-->
<!--        </ion-col>-->
<!--        <ion-col>-->
<!--          <ion-item>-->
<!--            <ion-label position = "floating">Close</ion-label>-->
<!--            <ion-datetime formControlName="operationMF" picker-format="h:mm A" minute-values="0,30"></ion-datetime>-->
<!--          </ion-item>-->
<!--        </ion-col>-->
<!--      </ion-row>-->
<!--        &lt;!&ndash;        <ion-input formControlName = "operationMF"></ion-input>&ndash;&gt;-->
<!--      </ion-item>-->
<!--    </ion-col>-->
<!--  </ion-row>-->

  <ion-item>
    <ion-label position= "stacked"> Special Note (optional) </ion-label>
    <ion-input formControlName = "special"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Type of Location</ion-label>
    <ion-select formControlName="type" interface="popover">
      <ion-select-option value="mat">MAT Provider</ion-select-option>
      <ion-select-option value="hospital">Hospital</ion-select-option>
      <ion-select-option value="counseling">Counseling</ion-select-option>
      <ion-select-option value="other">Other Resource</ion-select-option>
    </ion-select>
  </ion-item>

<!--  <ion-list>-->
<!--  <ion-radio-group formControlName = "type">-->
<!--    <ion-list-header>-->
<!--      <ion-label> Type of Location-->
<!--      <ion-badge *ngIf= "locationForm.controls.type.touched && locationForm.controls.type.invalid" color= "danger"> Required</ion-badge>-->
<!--    </ion-label>-->
<!--    </ion-list-header>-->

<!--    <ion-item>-->
<!--      <ion-label> Clinic </ion-label>-->
<!--      <ion-radio slot="start" value="clinic"></ion-radio>-->
<!--    </ion-item>-->

<!--    <ion-item>-->
<!--      <ion-label> Hospital </ion-label>-->
<!--      <ion-radio slot="start" value="hospital"></ion-radio>-->
<!--    </ion-item>-->

<!--    <ion-item>-->
<!--      <ion-label> Therapy </ion-label>-->
<!--      <ion-radio slot="start" value="therapy"></ion-radio>-->
<!--    </ion-item>-->
<!--  </ion-radio-group>-->
<!--</ion-list>-->
</form>

<ion-footer >
  <ion-toolbar>
    <ion-button class="fill-button" expand="full" (click)="submitLocation(locationForm)" [disabled] = "!locationForm.valid">
      Submit
    </ion-button>
  </ion-toolbar>
</ion-footer>

</ion-content>
