<ion-header>
  <ion-toolbar>
    <ion-title>Update {{ userType }}</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- Update a user -->
  <div *ngIf="userType == 'user'">
    <ion-list>
      <ion-list-header class="header"> User Information </ion-list-header>
      <ion-item>
        <h2> Code: {{ user.code }}<br> </h2>
      </ion-item>
      <ion-item>
        <h2> Email: {{ user.email }}<br></h2>
      </ion-item>
      <ion-item>
        <h6> Username: {{ user.username }} </h6>
      </ion-item>
      <ion-item>
        <h6> Date Joined: {{ user.joined.seconds * 1000 | date:'MM-dd-yyyy h:mm:ss a' }} </h6>
      </ion-item>
      <ion-item>
        <h6> Location: {{ user.location }} </h6>
      </ion-item>
      <ion-item>
         <h6> Security Q: {{ user.securityQ }} </h6>
      </ion-item>
      <ion-item>
        <h6> Security A: {{ user.securityA }} </h6>
      </ion-item>
    </ion-list>


    <ion-list>
      <ion-list-header class="header"> Edit: </ion-list-header>
        <ion-item>
          <ion-label position="stacked">Cohort</ion-label>
          <ion-input [(ngModel)]="user.cohort"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Point Total</ion-label>
          <ion-input [(ngModel)]="user.points"></ion-input>
        </ion-item>
      <ion-item>
        <ion-label position="stacked">Notes</ion-label>
        <ion-input [(ngModel)]="user.notes"></ion-input>
      </ion-item>
    </ion-list>

    <ion-button class="fill-button" expand="block" fill="solid" color="success" (click)="updateUser(user.id)">
      <ion-icon name="save" slot="start"></ion-icon>
      Update User
    </ion-button>
  </div>

  <!-- Update a provider -->
  <div *ngIf="userType == 'provider'">
    <ion-list>
      <ion-list-header class="header"> Provider Information </ion-list-header>
      <ion-item>
        <h2> Code: {{ provider.code }}<br> </h2>
      </ion-item>
      <ion-item>
        <h2> Email: {{ provider.email }}<br> </h2>
      </ion-item>
      <ion-item>
        <h6> Username: {{ provider.username }} </h6>
      </ion-item>
      <ion-item>
        <h6> DOB: {{ provider.dob }} </h6>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-list-header class="header"> Edit: </ion-list-header>        <ion-item>
      <ion-label>Provider Type</ion-label>
      <ion-select [(ngModel)]="provider.providerType"  placeholder="{{provider.providerType}}" >
        <ion-select-option *ngFor="let type of (providerTypes | async)" >{{type.type}}</ion-select-option>
      </ion-select>
    </ion-item>
      <ion-item>
        <ion-label position="stacked">First Name</ion-label>
        <ion-input [(ngModel)]="provider.firstName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Last Name</ion-label>
        <ion-input [(ngModel)]="provider.lastName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Notes</ion-label>
        <ion-input [(ngModel)]="provider.notes"></ion-input>
      </ion-item>
    </ion-list>

    <ion-button class="fill-button" expand="block" fill="solid" color="success" (click)="updateProvider(provider.id)">
      <ion-icon name="save" slot="start"></ion-icon>
      Update Provider
    </ion-button>
  </div>

  <!-- Show admin -->
<div *ngIf="userType == 'admin'">

  <ion-list>
    <ion-list-header class="header"> Admin Information </ion-list-header>
    <ion-item>
      <h2> Code: {{ admin.code }}<br> </h2>
    </ion-item>
    <ion-item>
      <h6> Username: {{ admin.username }} </h6>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header class="header"> Edit: </ion-list-header>
    <ion-item>
      <ion-label position="stacked">Notes</ion-label>
      <ion-input [(ngModel)]="admin.notes"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button class="fill-button" expand="block" fill="solid" color="success" (click)="updateAdmin(admin.id)">
    <ion-icon name="save" slot="start"></ion-icon>
    Update Admin
  </ion-button>
</div>

</ion-content>
