
.noHighlight {
  --background: var(--secondary-color);
}

ion-radio {
  --color: var(--secondary-color);
  --color-checked: var(--main-color);
  --border-radius: 50px;
}

.numOfComments {
  color: #383a3e;
  font-size: 15px;
}

.radio-label-users {
  font-size: 20px;
}

.radio-label-user-type {
  font-size: 25px;
}

.padding-top {
  padding-top: 10px;
}

.dots {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 1000px;
}

.error-message {
  min-height: 2.2rem;
  ion-label {
    margin: 2px 0;
    font-size: 60%;
    color: #ff6153;
  }
  .item-inner {
    border-bottom: 0 !important;
  }
}
