<ion-header>
  <ion-toolbar>
    <ion-buttons slot=start>
    <ion-back-button defaultHref="/learningmodules"></ion-back-button>
  </ion-buttons>
    <ion-title *ngIf="learningModule.id">{{learningModule.moduleTitle}} Module Details</ion-title>
    <ion-title *ngIf="!learningModule.id">Create New Learning Module</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="learningModuleForm">

  <ion-item>
    <ion-label>Module is Active</ion-label>
    <ion-toggle formControlName="moduleActive"></ion-toggle>
  </ion-item>

  <ion-item-divider color="medium">
    <ion-label>
      About Module
    </ion-label>
  </ion-item-divider>

    <ion-item>
      <ion-label position="stacked">Module Title</ion-label>
      <ion-input formControlName="moduleTitle"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Module Description</ion-label>
      <ion-textarea formControlName="moduleDescription"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Display Module During Weeks (enter 0 for always visible)</ion-label>
      <ion-input formControlName="moduleVisibilityTime"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked" type="number">Days Visible Before Expiration (enter 0 for never expires)</ion-label>
      <ion-input formControlName="moduleExpiration"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Module Reward Points (Total Quiz Question Points)</ion-label>
      <ion-text>{{learningModule.modulePointsWorth}}</ion-text>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Module Contents</ion-label>
      <ion-textarea formControlName="moduleContent" rows="3" autoGrow="true"></ion-textarea>
    </ion-item>

  <ion-item-divider color="medium">
    <ion-label>
      Module Media
    </ion-label>
  </ion-item-divider>

  <ion-item>
    <ion-label position="stacked">Module Video ID (YouTube Video ID)</ion-label>
    <ion-input formControlName="moduleVideoID"></ion-input>
  </ion-item>

  <ion-item *ngIf="learningModule.id && sanitizedVideoURL" lines="none">
    <iframe [src]="sanitizedVideoURL" allowfullscreen></iframe> 
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Module PowerPoint URL (src)</ion-label>
    <ion-textarea formControlName="modulePPTurl"></ion-textarea>
  </ion-item>

  <ion-item *ngIf="learningModule.id && sanitizedPPTurl" lines="none">
    <iframe [src]="sanitizedPPTurl" allowfullscreen></iframe> 
  </ion-item>
  
  <ion-item-divider color="medium">
    <ion-label>
      Module Quiz
    </ion-label>
  </ion-item-divider>

  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card button (click)="openQuestion(quizQuestion)" *ngFor="let quizQuestion of ( learningModule.moduleQuiz )">
            <ion-card-title class="ion-padding-horizontal">
              {{ quizQuestion.questionText }}
            </ion-card-title>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-button class="fill-button" (click)="addQuestion()">Add Quiz Question</ion-button>

  <ion-item-divider color="medium">
    <ion-label>
      Link to Another Learning Module
    </ion-label>
  </ion-item-divider>

  <ion-item>
    <ion-label>Next Module</ion-label>
      <ion-select formControlName="moduleNext" interface="action-sheet" multiple="false" cancelText="Cancel" okText="Ok">
        <ion-select-option value=''>
          None
        </ion-select-option>
        <ng-container *ngFor="let LM of (learningModules | async)">
          <ion-select-option text-wrap *ngIf="LM.id !== learningModule.id && LM.moduleActive" [value]="LM.id">
            {{LM.moduleTitle}}
          </ion-select-option>
      </ng-container>
      </ion-select>
  </ion-item>

</form>

</ion-content>
 
<ion-footer *ngIf="!learningModule.id">
  <ion-toolbar color="success">
    <ion-button expand="full" fill="clear" color="light" (click)="addLearningModule()" [disabled]="!learningModuleForm.valid">
      <ion-icon name="checkmark" slot="start"></ion-icon>
      Add Learning Module
    </ion-button>
  </ion-toolbar>
</ion-footer>
 
<ion-footer *ngIf="learningModule.id">
  <ion-row no-padding text-center>
    <ion-col size="6">
      <ion-button expand="block" fill="outline" color="danger" (click)="deleteModuleConfirmation()">
        <ion-icon name="trash" slot="start"></ion-icon>
        Delete
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="block" fill="solid" color="success" (click)="updateLearningModule()" [disabled]="!learningModuleForm.valid">
        <ion-icon name="save" slot="start"></ion-icon>
        Update
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
